<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makanstudios.name"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- FIXME: Replace all occurrences of name with the actual app name -->


    <!-- If you want to be available for Google TV, android:required="false" -->
    <uses-feature android:name="android.hardware.touchscreen" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="com.makanstudios.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.makanstudios.name.permission.C2D_MESSAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:name=".ui.misc.NameApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.Name" >
        <activity
            android:name=".ui.activity.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          BroadcastReceiver that will receive intents from GCM
          services and handle them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".gcm.GCMRedirectedBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.makanstudios.name" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".gcm.OnNewGcmNotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.makanstudios.name.intent.GCM_NEW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!--
          Application-specific subclass of GCMBaseIntentService that will
          handle received messages.
        -->
        <service
            android:name=".gcm.GCMIntentService"
            android:exported="false" />

        <provider
            android:name=".provider.NameProvider"
            android:authorities="com.makanstudios.name.provider"
            android:exported="false" />
    </application>

</manifest>